html,
body {
    height: 100%;
    margin: 0px;
  color: black;
  font-family: 'Roboto', sans-serif;
}

thead {
    background-color: #101010;
}

div#w0-collapse {
    background-color: #4b4b4b;    
}

.add-track-button {
    border: none;
    background: none;

}

.playlist-track-details {
    padding-left: 0px;
    padding-top: 25px;
    color: #5e5e5c;
}

@media (min-width: 300px) {
    .contribute-text {
        color: #5e5e5c;
        line-height: 25px;
        overflow: auto;
        max-height: 710px;
        font-size: 12px;
        padding-top: 0px;
    }

}

@media (min-width: 300px) and (max-width: 768px) {
    .playlist-track-details {
        padding-left: 0px;
        padding-top: 25px;
        color: #5e5e5c;
        text-align: center;
    }
    .playlist-track-controls, .playlist-track-controls-basic {
        display: inline;
    }
}

@media (min-width: 769px) {
   .playlist-track-controls, .playlist-track-controls-basic {
        display: none;
    }
}

.contribute-text {
    color: #5e5e5c;
    line-height: 25px;
    overflow: auto;
    max-height: 240px;
    font-size: 12px;
    padding-top: 0px;

}

.contribute-login-panel {
    padding-top: 50px;
}

.contribute-text p {
    padding-top: 10px;
}

.add-track-button img:hover{
    content:url("../img/icon-add.png");
}

.edit-bio-button {
    border: none;
    background: none;
    content:url("../img/icon-edit-dark.png");
}

.accept-bio-button {
    border: none;
    background: none;
    content:url("../img/icon-accept.png");
}

.title {
    color: #5e5e5c;
}

.edit-bio-button hover{
    border: none;
    background: none;
    content:url("../img/icon-edit.png");
}


.account-panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    color: inherit;
}

.contribute-panel {
    -webkit-box-shadow: 0px 3px 44px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 44px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 44px -4px rgba(0,0,0,0.75);
}

.password-reset-panel-success {
    -webkit-box-shadow: 0px 3px 44px -4px #18bf1b;
    -moz-box-shadow: 0px 3px 44px -4px #18bf1b;
    box-shadow: 0px 3px 44px -4px #18bf1b;
}

.password-reset-panel-fail {
    -webkit-box-shadow: 0px 3px 44px -4px #c11010;
    -moz-box-shadow: 0px 3px 44px -4px #c11010;
    box-shadow: 0px 3px 44px -4px #c11010;
}



.panel-shadow {
-webkit-box-shadow: 10px 10px 5px 0px rgba(234,234,234,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(234,234,234,0.75);
box-shadow:-3px 7px 5px 0px rgba(234,234,234,0.75)
}

.panel {
    border-radius: 0px;
}

.social-media-icons > a {
    color: #aeaeae;
    text-decoration: none;
    font-size: 6px;
}

.social-media-icons {
    color: #aeaeae;
    text-decoration: none;
    font-size: 6px;
    padding: 0px 0px 30px 30px;
}

.account-panel-heading, .shadow-text {
    text-shadow: 1px 1px #398439;
}    

.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
     box-shadow: none;
}

.panel-success > .panel-heading, .account-panel-heading {
    color: white;
    background-color: #9bea53;
    border-color: #d6e9c6;
    border-radius: 0px;
    padding: 20px 30px 30px 30px;
}  

.account-bio {
    color: #5e5e5c;
    padding: 40px 30px 30px 30px;
}

.account-view-row, .account-create {
    padding-top: 50px;
}

@media (min-width: 768px)
.navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 15px;
}

.has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-error .form-control:focus {
        border-radius: 0px;
    border-top: 0px none white !important;
    border-left: 0px none white !important;
    border-right: 0px none white !important;
      -webkit-box-shadow: none;
    outline: none !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #3b3b3b;
    padding-top: 20px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    height: 60px;
    padding-top: 20px;
}

.login-button {
    background-color: #7bc588;
    border-radius: 0px;
    height: 45px;
    color: #fffff8;
    font-weight: bold;
}

.login-password, .login-username {
    border-radius: 0px;
    border-top: 0px none white !important;
    border-left: 0px none white !important;
    border-right: 0px none white !important;
      -webkit-box-shadow: none;
    outline: none !important;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #e5e5e5;
}

.mini-connect {
    display: none;
}
.home-page-buttons {
    min-width: 165px;
}

#track-controls{
    display:none;
}

.coverart-container {
    padding: 0px;
}


.track-coverart-container {
    text-align: center;
    position: relative;
    width: 100px;
    height: 100px;
}

.no-pause-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.pause-overlay {
    padding-top: 35px;
    display: block;
    background: rgba(0, 0, 0, .6);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
}

.playlist-track-even:hover .playlist-track-controls {
    display: inline;
}

.playlist-track-odd:hover .playlist-track-controls {
    display: inline;
}

.playlist-track-even:hover .playlist-track-controls-basic {
    display: inline;
    padding-top: 25px;
}

.playlist-track-odd:hover .playlist-track-controls-basic {
    display: inline;
    padding-top: 25px;
}

.playlist-track-controls, .playlist-track-controls-basic {
    display: none; /* Controls the visibility of th econtrols */
}

#divAddSoundCloudDropDown{
    margin-top: -6px;
}

div[class*='track-container']:hover #track-controls {
    display:inherit;
}

i.track-pause {
    display: none;
}

.track-playing {
    background-color: #e7f9d3 !important;
}

.track-controls {
    padding-top: 0px;
}

.track-delete {
    color: #ffa9aa;
}

i.track-delete.fa.fa-trash-o.fa-2x{
    color: #ffa9aa;
}

i.track-delete.fa.fa-trash-o.fa-2x:hover{
    color: #ff6f71;
}



.track-controls i {
    cursor: pointer;
    color: #aeaeae;
    font-size: 30px;
    padding-top: 10px;
}

.track-controls i:hover{
    color: #4b4b4b;
}



.trackLikeUp {
    padding-left: 30px;
}

.trackSoundCloudProfile, .trackDownload {
     padding-left: 30px;
}

.title-bottom-padding {
    padding-bottom: 20px;
}
.social-icon {
    padding-right: 15px;
}

.playlist-panel, .profile-panel {
    border: none;
    -webkit-box-shadow: 1px 9px 18px 3px rgba(220,220,220,1);
-moz-box-shadow: 1px 9px 18px 3px rgba(220,220,220,1);
box-shadow: 1px 9px 18px 3px rgba(220,220,220,1);
}

.playlist-panel-body {
    padding-left: 15px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.playlist-track {
    margin-bottom: 0px;
    border: none;
}

.playlist-track:hover {
    background-color: #e7f9d3;
}

.playlist-track-odd {
    background-color: #ffffff;
}

.playlist-track-even {
    background-color: #f7f7f7;
}

.playlist-container {
    padding: 0px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    color: white;
    height: 60px;
    background-color: #101010;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.track-delete-icon {
    padding-right:36px;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
